<h2 class="text-center">Login</h2>

<div *ngIf="registered" class="text-center text-success">
  Registration completed, you can now log in
</div>

<div *ngIf="error" class="text-center text-danger">
  Something went wrong please try again
</div>

<form class="form-group" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <label for="username">Email:</label>
  <input class="form-control" type="text" id="username" name="username" ngModel>
  <label for="password">Password:</label>
  <input class="form-control" type="password" id="password" name="password" ngModel>
  <button class="btn btn-primary" type="submit">Log in</button>
</form>
